In [1]:
import pandas as pd

people, contacts, attendance = pd.read_csv("final/people.csv"), pd.read_csv("final/contacts.csv"), pd.read_csv("final/attendance.csv")

In [ ]:
people = people.merge(attendance.groupby("person_id").size().reset_index().rename(columns={0: "attendance_count"}), left_on="id", right_on="person_id").drop(columns=["person_id"])

In [ ]:
contacts_piv = contacts.pivot_table(
    index="person_id",
    columns="contact_type",
    values="contact_value",
    aggfunc="first"  # in case there are duplicates
).reset_index()

# Optional: rename columns if needed
contacts_piv = contacts_piv.rename(columns={
    "school email": "school_email",
    "personal email": "personal_email"
})
people = people.merge(contacts_piv, left_on="id", right_on="person_id").drop(columns=["person_id"])

contact_type,person_id,personal_email,phone,school_email
0,0,NaN,16174872023.0,zakarias_erdos@college.harvard.edu
1,1,yehudahtor@gmail.com,NaN,Yehudahtor@college.harvard.edu
2,2,zach51zach@gmail.com,13015201478.0,zachabrams@college.harvard.edu
3,3,sharbelmikhail2006@outlook.com,14016595742.0,smikhail@college.harvard.edu
4,4,farukoztok2012@gmail.com,NaN,farukoztok@college.harvard.edu
...,...,...,...,...
1678,1937,onabellona.b@gmail.com,16464096600.0,NaN
1679,1938,pepperfulsalt@gmail.com,15136771688.0,NaN
1680,1939,gens.7.pawlic@gmail.com,14083481055.0,NaN
1681,1940,aerinduke515@gmail.com,13102666788.0,NaN
1682,1941,NaN,16172122733.0,karimmasri@college.harvard.edu

In [14]:
people.sort_values("attendance_count", ascending=False).to_csv("robbie_export.csv")